psutil>=5.9.0

pyyaml>=6.0

pywin32>=305 ; sys_platform == "win32"
keyboard>=0.13.5 ; sys_platform == "win32"
pyautogui>=0.9.53 ; sys_platform == "win32"

pytest>=7.4.0
pytest-cov>=4.1.0
black>=23.12.1
